# node
node_modules
**/node_modules
.env
dist
coverage

# frontend / next
frontend/.next
frontend/.vercel
frontend/out

# backend / nest
backend/dist

# prisma
backend/prisma/dev.db
backend/prisma/migrations

